.instructions-div{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    background-color: #fff;
    align-content: flex-start;
}

.instructions-title{
    width: 100%;
    height: fit-content;
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-size: 3rem;
}
.instructions-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 4rem;
    margin-left: 3rem;
    list-style: decimal;
    margin-bottom: 1rem;
}
.instructions-list-item{
    width: 100%;
    font-size: 2rem;
}

@media screen and (max-width: 700px) {
    .instructions-title{
        font-size: 2.3rem;
    }
    .instructions-list-item{
        font-size: 1.6rem;
        line-height: 3rem;
    }
}
@media screen and (max-width: 500px) {
    .instructions-title{
        font-size: 2rem;
        margin-left: 1rem;
    }
    .instructions-list{
        margin-left: 2rem;
    }
    .instructions-list-item{
        font-size: 1.4rem;
        line-height: 2.5rem;
    }
}