.other_page-div{
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #fdecfd;
}
.other-title{
    font-size: 5rem;
    margin: 3rem;
    width: 100%;
}