nav{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    text-align: center;
    align-items: center;
    font-size: 2rem;
    height: 5rem;

    background-color: #593b33;
    font-family: 'League Spartan', sans-serif;
}

.link{
    color: #Fee499;
    text-decoration: none;
}
.link:hover{
    font-size: 2.1rem;
    text-decoration: underline;
}
.link:active{
    font-size: 2rem;
    text-decoration: underline;
}