.faq-div{
    height: fit-content;
    background-color: #fdecfd;
    padding: 1rem;
}
.faq-div-title{
    font-size: 3.2rem;
    margin-bottom: 1.4rem;
    margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
    .faq-div-title{
        font-size: 2.8rem;
        margin-bottom: 1.1rem;
    }
}
@media screen and (max-width: 800px) {
    .faq-div-title{
        font-size: 2.5rem;
        margin-bottom: 1rem;
        margin-left: 0.7rem;
    }
}
@media screen and (max-width: 600px) {
    .faq-div-title{
        font-size: 2.3rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
    }
}
@media screen and (max-width: 600px) {
    .faq-div-title{
        font-size: 2rem;
        margin-bottom: 0.7rem;
        margin-left: 0.3rem;
    }
}