.book_intro-div{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #Fee499;
}
.book-intro-button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.3rem solid #4d332c;
    color: #593b33;
    border-radius: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}
.book-intro-text{
    color: #593b33;
    font-size: 2.9rem;
    margin-right: 2rem;
}
.book-intro-button:hover{
    font-size: 1.6rem;
    font-weight: 500;
    color: #fff;
    background-color: #593b33;
}
.book-intro-button:active{
    font-size: 1.5rem;
    font-weight: 600;
}
.book-intro-link{
    width: 20%;
    height: fit-content;
    margin-left: 2rem;
}

@media screen and (max-width: 1300px) {
    .book-intro-text{
        font-size: 2.4rem;
    }

}
@media screen and (max-width: 1000px) {
    .book-intro-text{
        font-size: 2rem;
        margin-right: 1.5rem;
    }
}
@media screen and (max-width: 800px) {
    .book_intro-div{
        height: 7%;
    }
    .book-intro-text{
        font-size: 1.6rem;
        margin-right: 1rem;
        text-align: end;
    }
    .book-intro-button{
        font-size: 1.3rem;

    }
    .book-intro-button:hover{
        font-size: 1.4rem;
    }
    .book-intro-button:active{
        font-size: 1.3rem;
    }
    .book-intro-link{
        margin-left: 0.3rem;
    }
}
@media screen and (max-width: 600px) {
    .book_intro-div{
        height: 7%;
    }
    .book-intro-text{
        font-size: 1.3rem;
        margin-right: 0.7rem;
    }
    .book-intro-button{
        font-size: 1.2rem;
    }
    .book-intro-button:hover{
        font-size: 1.3rem;
    }
    .book-intro-button:active{
        font-size: 1.2rem;
    }
    .book-intro-link{
        width: 40%;
    }
    
}
@media screen and (max-width: 500px) {
    .book-intro-text{
        font-size: 1.2rem;
        margin-right: 0.7rem;
        text-align: right;
    }

}
@media screen and (max-width: 400px) {
    .book_intro-div{
        height: 6%;
    }
    .book-intro-text{
        font-size: 1.1rem;
    }
    .book-intro-button{
        font-size: 1.1rem;
    }
}
@media screen and (max-width: 350px) {
    .book-intro-text{
        font-size: 1rem;
        margin-right: 0.5rem;
        text-align: right;
    }
    .book-intro-button{
        font-size: 1rem;
    }
    .book-intro-button:hover{
        font-size: 1.1rem;
    }
    .book-intro-button:active{
        font-size: 1rem;
    }
}