.subjects-div-title{
    font-size: 3rem;
    background-color: #fff;
    padding-top: 4rem;
    padding-left: 2rem;
}
.subjects-div{
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.subject-item{
    width: 25%;
    height: 40%;
    margin: 2rem;
    position: relative;
    box-shadow: 0.3rem 0.3rem rgb(82, 79, 79);
}

.subject-image{
    width: 100%;
    height: 100%;
}

.subject-title{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.568);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 3.4rem;
    font-weight: 700;
    color: #fff;
}

.subject-title:hover{
    background-color: rgba(128, 128, 128, 0.884);
    font-size: 3.6rem;
}

@media screen and (max-width: 1300px) {
    .subject-item{
        width: 40%;
        height: 40%;
    }
}
@media screen and (max-width: 850px) {
    .subjects-div-title{
        font-size: 2.3rem;
        padding-top: 2rem;
        padding-bottom: 0rem;
    }
    .subjects-div{
        padding-top: 1rem;
    }
    .subject-title{
        font-size: 2.8rem;
    }
    .subject-title:hover{
        font-size: 2.9rem;
    }
}
@media screen and (max-width: 700px) {
    .subject-title{
        font-size: 2.4rem;
    }
    .subject-title:hover{
        font-size: 2.5rem;
    }
    .subject-item{
        margin: 1rem;
    }
    .subjects-div-title{
        font-size: 2rem;
        padding-top: 1.7rem;
        padding-left: 1rem;
    }
}
@media screen and (max-width: 600px) {
    .subject-item{
        width: 70%;
    }
}
@media screen and (max-width: 400px) {
    .subject-title{
        font-size: 2rem;
    }
    .subject-title:hover{
        font-size: 2.1rem;
    }
    .subjects-div-title{
        font-size: 1.6rem;
        padding-top: 1rem;
        padding-left: 0.7rem;
    }
}